body {
    background-color: #0d1117;
}

.info_container {
    transition: 0.5s;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.Grigory_photo {
    background-image: url(../images/Grigory.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 50%;
}

.about_me {
    height: 100%;
    min-width: 300px;
    width: 45%;
    font-family: "Montserrat", sans-serif;
    background-color: #0e0c0c;
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 70px;
        font-size: 20px;
        color: #e0e0e7;
        background-color: #232629;
    }
    .about_description {
        padding: 20px;
        height: 290px;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 23px;
    }
}

.about_town {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Yougorsk_photo {
    background-image: url(../images/gazprom.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    -webkit-box-shadow: 0px 51px 58px -40px rgba(255, 229, 0, 0.2);
    -moz-box-shadow: 0px 51px 58px -40px rgba(255, 229, 0, 0.2);
    box-shadow: 0px 51px 58px -40px rgba(255, 229, 0, 0.2);
}

.Yougorsk_photo_2 {
    background-image: url(../images/zakat_u.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.Yougorsk_text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    h1 {
        font-size: 100px;
        transition: 0.5s;
        background-image: linear-gradient(to right, #6200ff 0%, #f652eb 46%, #FFCC70 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    font-size: 22px;
    p {
        padding: 20px;
        color: #fdfdfdd8;
        font-family: "Parkinsans", serif;
    }
}

.room_photo {
    background-image: url(../images/мощно-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    -webkit-box-shadow: 0px 0px 42px 11px rgba(121, 26, 150, 0.5) inset;
    -moz-box-shadow: 0px 0px 42px 11px rgba(121, 26, 150, 0.5) inset;
    box-shadow: 0px 0px 42px 11px rgba(121, 26, 150, 0.5) inset;
}

.love {
    text-align: center;
}

.shadow_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    h1 {
        font-size: 100px;
        transition: 0.5s;
        background-image: linear-gradient(to right, #ffae00 0%, #00ff1e 46%, #7300ff 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.about_my_room {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
        color: #fdfdfdd8;
    }
}