@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Parkinsans";
    src: url(../fonts/Parkinsans/Parkinsans-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: auto;
}

h1, h2 {
    font-family: "JetBrains Mono", serif;
}

p {
    font-family: "Montserrat", serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: auto;
    padding: 0px 10px 0px 10px;
}

.initials_container {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
    transition: 1s;
    a {
        font-family: "JetBrains Mono", serif;
        color: white;
        text-decoration: none;
    }

    a:hover {
        color: rgba(255, 255, 0, 0.934);
    }

    #logo {
        background-image: url(../images/Logo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 120px;
        width: 125px;
        transition: 1s;
    }
    #logo:hover {
        background-image: url(../images/Logo_trigger-Photoroom.png);
        transform: scale(0.9);
        transition: 1s;
    }
    h2 {
        font-size: 30px;
    }
}

.my_catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    min-width: 500px;
    width: 50%;
    border-top: 2px solid white;
    a {
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        color: white;
        font-size: 24px;
        transition: 0.5s;
    }
    a:hover {
        color: #55516f;
    }
    a:active {
        color: red;
        transition: 0.2s;
    }
}

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    z-index: 1;
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "JetBrains Mono", serif;
    color: #fdfdfdd8;
    padding: 10px;
    height: 80px;
    text-align: center;
    font-size: 15px;
    .scrol_start {
        margin-top: 10px;
        font-size: 17px;
    }
}

.warning {
    color: red;
}

.yellow {
    color: #00ff44;
}

@media(max-width: 700px) {
    .introduction {
        height: auto;
        flex-direction: column;
        .about_me {
            width: 100%;
        }
        .Grigory_photo {
            width: 100%;
        }
    }
    .text {
        text-align: center;
        width: 100%;
    }
    .Yougorsk_text {
        h1 {
            font-size: 80px;
        }
    }
    .shadow_text {
        h1 {
            font-size: 80px;
        }
    }
}

@media(max-width:570px) {
    .introduction {
        padding: 0px;
    }
    .initials_container {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
        gap:0px;
        h2 {
            width: 100%;
            font-size: 34px;
        }
    }
    .my_catalog {
        flex-direction: column;
        min-width: 300px;
        width: 90%;
        gap:20px;
    }
    .footer_container {
        font-size: 13px;
    }
}

@media(max-width:380px) {
    .Yougorsk_text {
        h1 {
            font-size: 60px;
        }
    }
    .shadow_text {
        h1 {
            font-size: 60px;
        }
    }
}